*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-height: 100%;
    font-family: 'Lato', sans-serif;  
    font-weight: 400;
    font-size: 1.317vw;
}

p + p {
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

a {
    font-size: 1.317vw;
    text-decoration: none;
}

img, svg {
    max-width: 100%;
    height: auto;
}

.container {
    width: 92.166vw;
    padding-left:  0.987vw;
    padding-right: 0.987vw;
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 101.119vw;
}

.button, a.button {
    display: inline-block;
    height: 6.764vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding-left: 3.292vw;
    padding-right: 3.292vw;
    background-color: #01996D;
    color: white;
    font-size: 1.251vw;
    font-weight: 400;
    border: 0.132vw solid #01996D;
    border-radius: 5px;
}

.big, a.big {
   height: 8.624vh;  
}

.let {
    width: 15.8vw;
    height: 8.621vh;
}

.way {
    width: 15.8vw;
    height: 8.621vh;
}

.white_text {
    color: white;
}