.bottom {
    position: relative;
    max-height: 6586.737vh;
    background-color: #245852;
    color: white;
    padding-top: 13.793vh;
    padding-bottom: 19.098vh;
}
.container-bottom {
    width: 92.166vw;
    padding-left:  0.987vw;
    padding-right: 0.987vw;
    margin-left: 5vw;
    margin-right: auto;
}
.bottom-content {
    width: 52.666vw;
}

.logo-alivio {
    margin-bottom: 9.947vh;
}

.bottom-nav {
    font-size: 1.646vw;
    font-weight: 600;
}

.bottom-nav li {
    margin-bottom: 7.958vh;
}

.bottom-nav a {
    color: white;
}

.media-btns {
    height: 22.546vh;
    position: absolute;
    bottom: 0;
    margin-left: 29.506vw;
    margin-right: 6.057vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18.762vw;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.304vw;
 }

.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.987vw; 
 }
 
 .store-btns {
    display: flex;
    flex-direction: row;
    gap: 0.987vw;
 }

 .discover {
    margin-bottom: 1.989vh;
    font-family: 'Poppins';
    font-size: 1.317vw;
    font-weight: 500;
 }