.header {
    padding-top: 2.255vh;
    padding-bottom: 2.255vh;
    border-bottom: 0.133vh solid #D6D6D6;
}

.row {
    height: 11.406vh;
    display: flex;
    align-items: center;
    background-color: white;
}

ul {
    list-style: none;
}

.nav {
    margin-left: 11.323vw;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li + li {
    margin-left: 4.608vw;
}

.nav a{
    font-weight: 500;
    color: #292929;
    text-shadow: 1px 1px 3px black;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    
}

.enter {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2.304vw;
    color:#000;
}

.enter a{
    color: #000;
}